@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	font-family: Open Sans;
	color: white;
	background-color: black;
}

h1 {
	text-align: center;
	font-size: 4em;
	font-style: italic;
}

#pick {
	column-count: 1;
	column-width: 100%;
	text-align: center;
	break-inside: avoid-column;
}

@media all and (min-width: 65em) {
	#pick {
		column-count: 2;
		column-width: 50%;
		text-align: center;
		break-inside: avoid-column;
	}
}

label {
	display: block;
	font-size: 3em;
	user-select: none;
}

#in {
	font-size: 3em;
	border-radius: 1em;
	color: black;
	text-align: center;
	width: 50%;
	outline: none;
}

input[type='checkbox'] {
	margin-right: 1.5em !important;
	transform: scale(2) !important;
	width: .5em;
    height: .5em;
}

.btn {
	font-weight: bold;
	padding: .25em .75em;
	font-size: 2.5em;
}

.result {
	width: 80%;
	margin-left: 10%;
	padding: 1em;
	background-color: gray;
	text-align: center;
	border-radius: 1.5em;
	font-size: 2em;
	color: white;
	outline: none;
}

a:focus, a:hover, .result:focus, .result:hover {
	text-decoration: none;
	filter: brightness(1.1);
}

span {
	font-size: .6em;
}
